:root {
    --tab-btn-icon-length: 20px;

    --body-bg: #ffffff;

    --main-color: #59AC80;
    --main-color-light: #A0D9C4;
    --main-color-light-light: #D1E9DC;
    --main-color-very-light: #F3F9F1;
    --main-color-dark: #3D7D5A;
    --base-color: #F3F9F1;

    --border-color: #EBEBF0;

    /*Titlebar for each page*/
    --page-titlebar-height: 60px;
    --page-content-height: calc(100% - var(--page-titlebar-height));

    /*Navigation bar*/
    --page-sidebar-width: 250px;
}

/*Text cannot be selected*/
.unselectable-text {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a {
  text-decoration: none;
}

.page-titlebar {
    display: flex;
    width: 100%;
    height: var(--page-titlebar-height);
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 0 20px;
}