[flake8]
exclude =
  scripts/*
  src/agentscope/rpc/*
max-line-length = 79
inline-quotes = "
avoid-escape = no
ignore =
    F401
    F403
    W503
    E731
per-file-ignores =
    examples/data_interpreter_mulit-agent/di_agents.py:E501
    examples/data_interpreter_mulit-agent/di_multiagent.py:E501