<!-- templates/chat.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();

            socket.on('connect', () => {
                socket.emit("join", {run_id: "{{ run_id }}"});
                document.getElementById('sendButton').onclick = () => {
                    var message = document.getElementById('textInput').value;
                    socket.emit('user_input', {'name': '{{ name }}', 'content': message, 'run_id': '{{ run_id }}'});
                    document.getElementById('textInput').value = '';
                };
            });
            socket.on('display_message', data => {
                if (data.run_id == '{{ run_id }}') {
                    const node = document.createElement("LI");
                    const textnode = document.createTextNode(data.name + ": " + data.content);
                    node.appendChild(textnode);
                    document.getElementById("messages").appendChild(node);
                }
            });
        });
    </script>
</head>
<body>
    <ul id="messages">
        {% for message in messages %}
            <li>{{ message.name }}: {{ message.content }}</li>
        {% endfor %}
    </ul>
    <input id="textInput" type="text">
    <button id="sendButton">Send</button>
</body>
</html>
