:root {
    --border-color: #cacaca;
    --background-color: #ffffff;

    --background-box-title: #f7f7f7;

    --scale-factor: 1;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 将标题和链接分隔开 */
    align-items: center; /* 垂直居中 */
    height: 66px;
    border-bottom: 1px solid var(--border-color);
    padding: 0 20px; /* 左右内边距 */
    background-color: rgba(240, 240, 240, 0.2); /* 半透明的背景颜色 */
}

header h2 {
    margin: 0px; /* 保持没有外边距 */
    font-size: 1.5em; /* 可以调整大小 */
    font-weight: normal; /* 根据喜好调整字体粗细 */
    color: black; /* 使用变量或直接指定颜色 */
}

header .header-links {
    display: flex; /* 链接也使用flex布局 */
    align-items: center; /* 垂直居中 */
}

header .github-link {
    color: black; /* 链接颜色 */
    transition: color 0.3s; /* 平滑过渡颜色变化 */
}

header .github-link:hover {
    color: black; /* 鼠标悬停时的颜色 */
}

/* 如果需要的话，适当调整图标大小 */
header .github-link i {
    font-size: 1.5em; /* 调整图标大小 */
}

header a {
    color: black;
}

.them-edit-link {
    position: absolute;
    top: 10px;
    right: 100px;
    color: black;
    font-size: 40px;
}

.them-edit-link a {
    text-decoration: none;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.col {
    overflow: auto;
    width: 250px;
    height: 100%;
    border-right: 1px solid var(--border-color);
}

.drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.menu {
    position: absolute;
    height: 40px;
    display: block;
    background: white;
    width: 100%;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
}

.menu ul li.selected {
    font-weight: bold;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 85px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 140px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

#drawflow {
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100% - 50px);
    top: 40px;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}


/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;
}

.drawflow .drawflow-node.selected {
    background: white;
    border: 1px solid #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .title-box {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow > .drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
    /*height: 50px;*/
    height: auto;
    line-height: 50px;
    background: var(--background-box-title);
    border-bottom: 1px solid #e9e9e9;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}

.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node.slack .title-box {
    border-radius: 4px;
}

.drawflow-node input, .drawflow-node select, .drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    width: 158px;
    color: #555555;
}

.drawflow-node textarea {
    height: 100px;
}


.drawflow-node.personalized {
    background: red;
    height: 200px;
    text-align: center;
    color: white;
}

.drawflow-node.personalized .input {
    background: yellow;
}

.drawflow-node.personalized .output {
    background: green;
}

.drawflow-node.personalized.selected {
    background: blue;
}

.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;

}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
    fill: #4ea9ff;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}

.toggle-title {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    user-select: none;
    transition: background-color 0.3s ease; /* 动画背景颜色变化 */
    text-align: center;
}

.toggle-title:hover {
    background-color: #e2e2e2; /* 鼠标悬停时改变背景颜色 */
}

.toggle-sub-title {
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    user-select: none;
    transition: background-color 0.3s ease; /* 动画背景颜色变化 */
    text-align: center;
    border-radius: 10px; /* 增加圆角，你可以根据需要调整该值 */
}

.toggle-sub-title:hover {
    background-color: #e2e2e2; /* 鼠标悬停时改变背景颜色 */
}

.draggable-content {
    margin-top: 0;
    padding: 0 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

.draggable-content.visible {
    margin-top: 5px;
    padding: 10px;
    max-height: 1000px; /* 这个值要大于内容的实际高度 */
    opacity: 1;
}

/* 说明文本样式 */
.readme {
    background-color: rgba(173, 216, 230, 0.2); /* 半透明白色背景 */
    /*font-size: xx-small;*/
    font-size: 0.875em;
    border: 1px solid #ddd;
    border-radius: 5px;
    /*padding: 15px;*/
    color: #333;
    /*margin: 10px 10px;*/
    width: calc(80% * var(--scale-factor));
    padding: calc(15px * var(--scale-factor));
    margin: calc(10px * var(--scale-factor)) auto;
}

.drawflow .drawflow-node.GROUP {
    width: 500px;
    z-index: 0;
}

.drawflow .drawflow-node.GROUP {
    width: 500px;
    z-index: 0;
}

.placeholder {
    height: 300px;
    z-index: 0;
}


.drawflow .drawflow-node.GROUP.hover-drop {
    background: hsl(225, 100%, 96%); /* 较淡的蓝色，色相为225度，饱和度100%，亮度75% */
}

/*Collapse*/
.title-box {
    /* 确保title-box有足够的内间距来放置箭头，根据箭头大小调整 */
    padding-right: 30px;
    position: relative; /* 便于绝对定位箭头 */
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-overflow: ellipsis; /* 显示省略号 */
    min-width: 15px;
}

.toggle-arrow {
    position: absolute;
    right: 10px; /* 箭头放在最右边 */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 精确垂直居中 */
    cursor: pointer; /* 将鼠标光标变成手形图标 */
}

.hidden {
    display: none;
}

pre[class*="language-"] {
    font-size: 0.5em; /* 你可以根据需要调整这个值 */
}

.swal2-title {
    font-size: 20px;
}

.box{
    position: relative; /* 使得 resize handle 能够绝对定位在 box 的底部 */
    overflow: auto;
    width: auto;
    min-width: 15px;
}
.box input, .box select, .box textarea {
    width: calc(100% * var(--scale-factor));
    margin-bottom: 10px;
}

.box label {
    display: inline-block;
    margin-bottom: 0.5em; /* 间距可以按需调整 */
    font-size: calc(1em * var(--scale-factor)); /* 响应式字体大小 */
}

.box input {
    width: calc(100% * var(--scale-factor)); /* 响应式宽度 */
    font-size: calc(1em * var(--scale-factor)); /* 响应式字体大小 */
    height: calc(30px * var(--scale-factor)); /* 响应式高度 */
    box-sizing: border-box; /* 确保边框和内边距包含在宽度和高度内 */
}


.resize-handle-se {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ccc;
    bottom: 0;
    right: 0;
    cursor: nwse-resize; /* 双向斜箭头光标 */
    z-index: 10;
}

.if-placeholder, .else-placeholder {
    border: 1px dashed #ccc; /* 示意性边框 */
    height: 30%; /* 或者你想要的任何高度 */
    margin: 5px; /* 保持一些空间 */
}

.cases-container {
    margin-top: 10px;
    min-height: 50px; /* 可根据需要设置自定义高度 */
}

.case-placeholder {
    border: 1px dashed #ccc;
    height: 100px; /* 或者你想要的任何高度 */
    padding: 5px;
    margin-bottom: 5px; /* 为每个 case 分支添加间隔 */
}

/* 最后一个 case （通常是 default case）不需要分隔符 */
.case-placeholder:last-child {
    height: 100px; /* 或者你想要的任何高度 */
    border-bottom: 1px dashed #ccc; /* 底部边框作为分隔符 */
}

/* 通用按钮样式 */
.button {
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(to right, #6e48aa, #9d50bb); /* 渐变背景 */
    border: 2px solid transparent; /* 细边框设置为透明 */
    border-radius: 30px; /* 圆润的角 */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease; /* 平滑的过渡效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 柔和的阴影效果 */
}

/* 按钮悬浮效果 */
.button:hover {
    background-image: linear-gradient(to left, #6e48aa, #9d50bb); /* 渐变方向反向 */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* 更大的阴影效果 */
    transform: translateY(-2px); /* 微小的向上移动效果 */
}

/* 添加按钮专用样式 */
.add-case {
    background-image: linear-gradient(to right, #56ab2f, #a8e063); /* 绿色渐变 */
}

/* 移除按钮专用样式 */
.remove-case {
    background-image: linear-gradient(to right, #f85032, #e73827); /* 红色渐变 */
}

/* 禁用按钮样式 */
.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow: none;
    border: 2px solid #cccccc;
}
