.sphx-glr-download-link-note.admonition.note {
    display: none;
}

.sphx-glr-download {
    display: none;
}

.bordered-image {
    border: 1px solid gray;
}

:root {
    --item-card-width: 200px;
    --item-card-margin: 10px;
    --item-card-title-height: 50px;

    --item-card-img-length: calc(var(--item-card-width) - 2*var(--item-card-margin));
    --item-card-title-width: calc(var(--item-card-width) - 2*var(--item-card-margin));
    --item-card-title-margin-top: var(--item-card-margin);

    --item-card-height: calc(var(--item-card-margin) * 3 + var(--item-card-img-length) + var(--item-card-title-height));
}

.gallery-item {
    position: relative;
    display: inline-block;
    width: var(--item-card-width);
    height: var(--item-card-height);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 7px;
}

.gallery-item-card {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--item-card-width);
    height: var(--item-card-height);
    display: flex;
    flex-direction: column;
    margin: var(--item-card-margin);
}

.gallery-item-card-img {
    height: var(--item-card-img-length);
    width: var(--item-card-img-length);
    min-width: var(--item-card-img-length);
    min-height: var(--item-card-img-length);
    display: block;
}

.gallery-item-card-title {
    text-align: center;
    margin-top: var(--item-card-margin);
    font-weight: bold;
    min-height: var(--item-card-title-height);
    height: var(--item-card-title-height);
    width: var(--item-card-title-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /*background-color: #1e8449;*/
    color: black;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.gallery-item:hover .gallery-item-description {
    display: flex;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.22);
}